html, body {
    margin: 0;
    padding: 0;
}

/* ------------------------------- HEADER ----------------------------------- */

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    flex-direction: column;
    display: flex;
}

.header {
    display: flex;
    align-items: center;
    background-color: #4a576c;
    padding: 5px 200px 5px 200px;
    font-family: 'Allan';
    font-size: 22px;
    color: white;
    justify-content: space-between;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-right {
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 10px;
}

li {
    display: flex;
}

button {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    margin: 0px;
}

/* --------------------------- Main Container ------------------------------ */

.container {
    min-height: 400px;
    padding: 12px 200px 12px 200px;
}

/* ----------------------------- 1st Block -------------------------------- */

.one {
    background-color: #1F2937;
    display: flex;
}

.one-left {
    min-height: 200px;
    max-width: 50%;
    background-color: #1F2937;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    color: white;
    margin: 0 0 2px 0;

}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    color: white;
    margin-bottom: 15px;
    font-size: 13px;
}

.sign-up {
    background-color: #3882F6;
    color: white;
    border: none;
    border-radius: 6px;
    width: 125px;
    height: 34px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.one-right {
    min-height: 200px;
    max-width: 50%;
    background-color: #1F2937;
    flex: 1 0 auto;
    display: flex;
    align-items: center;
}

img {
    margin-left: auto;
}

/* ----------------------------- 2nd Block -------------------------------- */

.two {
    flex-direction: column;
    display: flex;
}

/* ----------------------------- 3rd Block -------------------------------- */

.three {
    background-color: #E5E7EB;
}

/* ----------------------------- 4th Block -------------------------------- */

.four {

}

/* ------------------------------ Footer --------------------------------- */

.footer {
    background-color: #1F2937;
    min-height: 50px;
}